<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.name%>,</h4>
    <p>Your request for <%= @event.name %> is rejected.</p>
    <p>Find your event at: <%= @link + "/event/" + @event.id.to_s %></p>
    <% if (@event.remarks != nil && @event.remarks != "") %>
      <p>Here are the remarks from admin: </p>
      <% @event.remarks.split("\n").each do |paragraph| %>
        <p><%= paragraph %></p><br/>
      <% end %>
    <% end %>
    <p>Please consider submitting a new request after making changes!</p>
  </body>
</html>