<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.name%>,</h4>
    <p>Your request for <%= @event.name %> is approved!</p>
    <p>Students can now see your event and sign up link!</p>
  </body>
</html>